.click:hover{
    cursor: pointer;
}

#big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-left: 10vw;
}
#result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-bottom: 5vh;
}

.gamapanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
}